{% extends 'base.html.twig' %}

{% block title %}
  Invitar Amigo
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/invitar_amigos_mensaje.css') }}" />
{% endblock %}

{% block body %}
  <div class="container mt-3 mb-3 rounded-5 contenido-invitar-amigo-mensaje-cliente">
    <div class="col-12">
      <div class="row p-2">
        <div class="col-3 d-flex justify-content-center"></div>
        <div class="col-6 d-flex justify-content-center"></div>
        <div class="col-3 d-flex justify-content-center contboton-enviar-invitacion-amigos">
          <button>Enviar</button>
        </div>
      </div>
      <div class="row mb-2" style="background-color: #D9D9D9;">
        <br />
        <br />
      </div>
      <div class="row">
        <div class="container contenido-enviar-invitacion-amigos">
          <textarea name="" id="textarea1" cols="30" rows="5" style="width: 100%;">Usa mi código #### para conseguir un descuento del 30% de descuento en tu siguiente solicitud.</textarea>
        </div>
      </div>
    </div>
  </div>

  {{ include('components/footer.html.twig') }}
{% endblock %}
