<form method="post" action="{{ path('app_asap_services_entornos_cliente_ajustes_eliminar', {'id': persona.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ persona.id) }}">
    <button class="btn col-12 boton-eliminar my-1">Eliminar</button>
</form>
