@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

body {
    /*min-height: 90vh;*/
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.configuracion-container{
    height: auto;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
}

.configuracion-title{
    color: #2B0567;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}

.configuracion-btn{
    display: flex;   
    justify-content: space-around;   
    align-items: center;
    width: 308px;
    height: 58px;
    padding: 0;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 28px;
}

.configuracion-btn h4{
    text-align: center;
    margin: 0;
}    


.configuracion-text{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cerrar-sesion-btn{
    display: flex;   
    justify-content: space-around;   
    align-items: center;
    width: 308px;
    height: 58px;
    padding: 0;
    border-radius: 40px;
    background: #4302AE;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
}

.cerrar-sesion-btn h4{
    text-align: center;
    margin: 0;
}

.cerrar-sesion-text{
    color:  #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}