@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');


.contenido-invitar-amigo-mensaje-cliente {
    height: 65vh;
    background-color: #fff !important;
}

.barra-separacion{
    background-color: #D9D9D9;
    height: 7vh;
}

.contboton-enviar-invitacion-amigos button{
    color: #4302AE;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 800;
    background: none; 
    border: none;     
    padding: 0;   
}

.contenido-enviar-invitacion-amigos textarea{
    border: none;
}

.texto-invitar-amigo-mensaje-cliente{
    display: flex;
    text-align: justify;
    align-items: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight:700;
    background: none;
    padding: 0;
}