@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

*{
    font-family: Nunito;
}

.cliente-privacidad-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacidad-container{
    height: 65vh;
    background: white;
    border-radius: 40px;
    width: 100%;
    padding: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.privacidad-title{
    color: #4302AE;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.scroll-privacidad {
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.privacidad-subtitle{
    color: #000;
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.label-input-switch{
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}