@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

body {
    /*min-height: 90vh;*/
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.contboton-cerrar a {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.contenido-prmociones-cupones-cliente {
    min-height: 65vh;
    max-height: 65vh;
    background-color: #fff !important;
}

.titulo-promociones-cupones-cliente {
    color: #4302AE;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 800;
}

.icono_promociones_cupones{
    width: 100%;
    align-items: center;
}

.contenido-promocion-cupones-cliente {
    display: flex;
    justify-content: center;
}

.boton-activar-promocion-cliente {
    border-radius: 40px;
    background: #4302AE;
    border: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.boton-activar-promocion-cliente:hover {
    color: #fff;
    background-color: #7A5AAC;
    border-color: #7A5AAC;
}
.boton-activar-promocion-cliente:focus,
.boton-activar-promocion-cliente.focus {
    color: #fff;
    background-color: #7A5AAC;
    border-color: #7A5AAC;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.boton-activar-promocion-cliente:not(:disabled):not(.disabled):active,
.boton-activar-promocion-cliente:not(:disabled):not(.disabled).active,
.show>.boton-activar-promocion-cliente.dropdown-toggle {
    color: #fff;
    background-color: #7A5AAC;
    border-color: #7A5AAC;
}