@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap");

body {
  /*min-height: 90vh;*/
  background-image: url("/image/Imagen1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.contenido {
  min-height: 65vh;
  max-height: 65vh;
  background-color: #fff !important;
}

.conten-login {
  border-radius: 40px;
  background: #7a5aac;
  text-align: center;
}

.opcion-login a {
  /*     margin-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.opcion-login {
  /*     margin-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.titulo-login {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 800;
}

.boton-opcion-login {
  border-radius: 40px;
  background: #4302ae;
  padding-top: 16px;
  padding-bottom: 16px;
}

/*******************/
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-field {
  font-size: 1rem;
  padding: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #4302ae;
  border-radius: 5px;
  width: 100%;
}

.input-field:focus {
  outline: none;
  border-color: #4302ae;
  padding-left: 10px;
}

.input-label {
  position: absolute;
  pointer-events: none;
  left: 1rem;
  top: 0rem;
  transition: 0.2s ease all;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -1rem;
  left: 10px;
  font-size: 0.8rem;
  color: #4302ae;
}

.texto-login {
  font-family: Nunito;
  color: #4302ae;
  font-weight: 700;
}

/******************/

.contenido-boton-login {
  display: flex;
  justify-content: center;
}

.boton-iniciar-login {
  border-radius: 40px;
  background: #4302ae;
  border: none;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.boton-iniciar-login:hover {
  color: #fff;
  background-color: #7a5aac;
  border-color: #7a5aac;
}

.boton-iniciar-login:focus,
.boton-iniciar-login.focus {
  color: #fff;
  background-color: #7a5aac;
  border-color: #7a5aac;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.boton-iniciar-login:not(:disabled):not(.disabled):active,
.boton-iniciar-login:not(:disabled):not(.disabled).active,
.show > .boton-iniciar-login.dropdown-toggle {
  color: #fff;
  background-color: #7a5aac;
  border-color: #7a5aac;
}

.contenido-recupingre-login {
  display: flex;
  justify-content: center;
  text-align: center;
}

.texto-recupingre-login {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
}

.texto-recupingre-login a {
  text-decoration: none;
  color: #000;
}

.contenido-opciones-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenido-inputs-login-proveedor {
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  body {
    display: none;
  }
}
