{% extends 'base.html.twig' %}

{% block title %}
  Numero de cuenta
{% endblock %}

{% block body %}
    <h2>Ingresar número de cuenta</h2>
    <form method="post">
          <input type="text" name="numcuenta">
       <button type="submit" class="btn btn-primary col-12 boton-aceptarnumcuenta-proveedor">Aceptar</button>
    </form>
    
{% endblock %}