@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap");

* {
  font-family: Nunito;
}

.proveedor-historial-servicios-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historial-servicios-container {
  max-height: 65vh;
  overflow-y: auto;
  height: 65vh;
  background: white;
  border-radius: 40px;
  width: 100%;
  padding: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.historial-servicios-title {
  color: #4302ae;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.historial-servicios-fecha {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.historial-servicios-text {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.historial-servicios-card {
  border-radius: 20px;
  border: 1px solid #0f0f0f;
  padding: 18px;
}

.contboton-cerrar {
  font-size: 50px;
  font-weight: 700;
}
.contboton-cerrar a {
  color: #000;
  text-decoration: none;
}

/* .scroll-historial-proveedor {
  max-height: 5vh;
  overflow-y: auto;
  border-radius: 20px;
}
 */
@media (max-height: 1000px) {
}
