@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

body {
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.contenido-mi-perfil {    
    min-height: 65vh;
    max-height: 80vh;
    background-color: #fff !important;
}

.img-perfil {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.titulo-mi-perfil {
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.titulo-editar-perfil {
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-container {
    display: flex;
    align-items: center;    
}

.input-group {
    position: relative;
    margin-bottom: 3rem;    
    align-items: center;
    margin-bottom: 10px;
}

.input-field {
    font-size: 1rem;
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
    width: 300px;
    font-family: Nunito;
    color: #000;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 15px;
}

.input-field:focus {
    outline: none;
    border-color: #000;
}

.input-label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 0rem;
}

.contenido-boton-eliminar {
    display: flex;
    justify-content: center;
}

.boton-eliminar {
    border-radius: 40px;
    background: #4302AE;
    border: none;
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
}

@media (min-width: 500px) {
    body {
      display: none;
    }
}