@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

body {
    /*min-height: 90vh;*/
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.preguntas-frecuentes-container{
    height: 700px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
}

.preguntas-frecuentes-title{
    color: #4302AE;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.acordeon {
    width: 100%;
}

.pregunta {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    margin-top: 55px;
    color: #333;
    border-bottom: 1px solid #333;
}

.texto-pregunta {
    flex-grow: 1;
}

.icono-toggle {
    font-size: 25px;
    margin-left: 10px;
}

.respuesta {
    display: none;
    color: #000;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.respuesta.active {
    display: block;
}