@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

body {
    /*min-height: 90vh;*/
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.contboton-cerrar {
    display: flex;
    justify-content: end;
}

.boton-cerrar {
    font-size: 25px;
}

.contenido-ofreceservicios-proveedor {
    min-height: 65vh;
    background-color: antiquewhite;
    background-color: #fff !important;
}

.contenido-boton-ofreceservicios {
    display: flex;
    justify-content: center;
}

/****/
.titulo-ofreceservicios-proveedor {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 800;
}

.subtitulo-ofreceservicios-proveedor {
    margin-top: 14px;
    margin-bottom: 8px;
    display: flex;
    justify-content: start;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 800;
}

.opciones-ofreceservicios-proveedor {
    display: grid;
    row-gap: 10px;
    margin-bottom: 20px;
}

.checkbox-ofreceservicios-proveedor {
    margin-right: 10px;
}

.boton-ofreceservicios-proveedor {
    border-radius: 40px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    background: #4302ae;
    border: none;
}

.checkbox-label {
    display: block;
}

@media (min-width: 500px) {
    body {
        display: none;
    }
}