body {
    /*min-height: 90vh;*/
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.image {
  display: none;
}
  
  .imagepc {
    display: none;
  }

  
@media (min-width: 500px) {
    body {
      background: radial-gradient(circle at 50% 50%, white 0%, #D8D8D8 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }
    
    .imagen {
      display: none;
    }
  
    .imagepc {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
      height: 100vh;
    }
    
  
    .inicio-container {
      display: none;
    }
  }
  