<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="title" content="Asap Services. Servicios de excelencia">
		<meta name="description" content="Nos apasiona impulsar el crecimiento y el éxito de profesionales programadores web. Aquí podrás compartir conocimientos y fortalecer tus habilidades.">
		<meta name="keywords" content="Desarrollo web, Programación web, Diseño web, Desarrollo de aplicaciones web, Desarrollo de sitios web, Programación de sitios web, Diseño de sitios web, Desarrollo de sitios web responsivos, Desarrollo de sitios web personalizados, Desarrollo de sitios web con WordPress, Desarrollo de comercio electrónico, Desarrollo de tiendas en línea, Desarrollo de aplicaciones móviles, Programación de aplicaciones móviles, Desarrollo de software a medida, Desarrollo de aplicaciones empresariales, Diseño de interfaz de usuario (UI), Experiencia de usuario (UX), Optimización de motores de búsqueda (SEO), Marketing digital, Estrategia de contenido web, Consultoría en desarrollo web, Mantenimiento de sitios web, Hospedaje web, Seguridad web, Integración de API, Desarrollo de bases de datos, Desarrollo de front-end, Desarrollo de back-end, Programación en PHP, Programación en JavaScript, Programación en Symfony, Desarrollo de aplicaciones web progresivas (PWA), Desarrollo de sitios web estáticos, Desarrollo de sitios web dinámicos, Desarrollo de sitios web de comercio electrónico, Desarrollo de sitios web de noticias, Desarrollo de portafolios en línea, Consultoría en arquitectura web.">
		{# MAS ETIQUETAS #}
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="Spanish">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
