@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

body {
    background-image: url('/image/Imagen1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.contenido-registro-proveedor {    
    height: 80vh;
    background-color: #fff !important;
    overflow-y: auto;
}

.titulo-ofrece-servicio {
    color: #4302AE;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 800;
}

.img-perfil {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 25%;
}

.titulo-editar-proveedor {
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.titulo-registrar-proveedor {
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    align-items: center; 
    padding: auto;
}

.input-group {
    position: relative;    
    align-items: center;
}

.input-field {
    font-size: 1rem;
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
    width: 300px;
    font-family: Nunito;
    color: #000;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 2px;
}

.input-field:focus {
    outline: none;
    border-color: #000;
}

.input-label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 0rem;
}


.checkbox-terminos-condiciones-proveedor {
    margin-right: 10px;
}

.texto-terminos-condificones-proveedor {
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.texto-terminos-condiciones-proveedor a {
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: black;
}

.contenido-boton-siguiente {
    display: flex;
    justify-content: center;
}

.boton-siguiente {
    border-radius: 40px;
    background: #4302AE;
    border: none;
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
}

@media (min-width: 500px) {
    body {
      display: none;
    }
}