@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Odor+Mean+Chey&display=swap');

.contenido-registro-proveedor {    
    height: 65vh;
    background-color: #fff !important;
    overflow-y: auto;
}

.titulo-ofrece-servicio {
    color: #4302AE;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 800;
    margin-top: 20px;
}

.img-perfil {
    display: flex;
    justify-content: center;
    /* width: 25%;
    height: 25%; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0;
}




.titulo-editar-proveedor {
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

.titulo-registrar-proveedor {
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center; 
    padding: auto;
}

.input-group {
    position: relative;    
    align-items: center;
}

.input-field {
    font-size: 1rem;
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
    width: 100%;
    font-family: Nunito;
    color: #000;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 2px;
}

.input-field:focus {
    outline: none;
    border-color: #000;
}

.input-label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 0rem;
}


.checkbox-terminos-condiciones-proveedor {
    margin-right: 10px;
}

.texto-terminos-condificones-proveedor {
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.texto-terminos-condiciones-proveedor a {
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: black;
}

.contenido-boton-siguiente {
    display: flex;
    justify-content: center;
}

.boton-siguiente {
    border-radius: 40px;
    background: #4302AE;
    border: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.boton-siguiente:hover {
    color: #fff;
    background-color: #7A5AAC;
    border-color: #7A5AAC;
}
.boton-siguiente:focus,
.boton-siguiente.focus {
    color: #fff;
    background-color: #7A5AAC;
    border-color: #7A5AAC;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.boton-siguiente:not(:disabled):not(.disabled):active,
.boton-siguiente:not(:disabled):not(.disabled).active,
.show>.boton-siguiente.dropdown-toggle {
    color: #fff;
    background-color: #7A5AAC;
    border-color: #7A5AAC;
}
