<style>
  .contboton-cerrar {
    font-size: 50px;
    font-weight: 700;
  }
  .contboton-cerrar a {
    color: #000;
    text-decoration: none;
  }
</style>
<div class="row d-flex justify-content-center align-items-start w-100 my-1">
  <div class="col-3 d-flex justify-content-center"></div>
  <div class="col-6 d-flex justify-content-center"><img src="{{ asset('image/casita_opt.png') }}" style="width:100%"></div>
  <div class="col-3 d-flex justify-content-center align-items-top contboton-cerrar">
    <a href="#">x</a>
  </div>
</div>
{# COPIAR ESTA ESTRUCTURA APRA LAS VISTAS QUE TIENEN SOLO UNA X Y EL LOGO  #}