<style>
  .footer {
    position: fixed;
    margin-left: 21px;
    bottom: 0;
    color: rgba(0, 0, 0, 0.66);
    font-family: Odor Mean Chey;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
  }
</style>

<div class="footer">
  <span>Asap Services</span>
</div>
